 

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-center {
  display: flex !important;
  justify-content: center !important;
}

.captcha-logo {
  max-width: 150px;
  max-height: 150px;
}

.header-title {
  text-transform: uppercase;
  
}